*{
    margin: 0;
    box-sizing: border-box;

}

body{
    margin: 20px;

}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;


}
article{
    width: 33%;
    display: inline-block;

}
#article-one{
    position: relative;
    top: 164 px;

}