@media (max-width: 400px){
    * {
        margin: 0;
       
        
    }
    @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i');
  
}
    #top {
        border-top: 10px solid rgba(0, 0, 0, 0.733);
        display: grid;
        grid-template-rows: 10px auto 70px;
        font-size: 20px;
        background-image: url("resources/gridlines-opaque.png"), url("resources/contours.png"), url("resources/huntington.jpg");
        background-repeat: repeat, repeat, no-repeat;
        /* display: flex; */
        background-size: cover;
        justify-content: center;
        align-items: center;
        height: 250px;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #swirlImage img {
        padding-top: 190px;
        padding-bottom: 20px;
        height: 50px;
        width: 50px;
    }
    h2 {
        grid-row: 1;
        font-size: 1.13em;
        font-family: 'Julius Sans One', sans-serif;
    }
    h6 {

        grid-row: 2;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 200px;
        justify-content: center;
        font-style: italic;
    }
    #viewAll {
        color: rgba(245, 245, 245, 0.541);
        font-size: .75em;
        grid-row: 3;
        height: 70px;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        background-color: rgba(255, 255, 255, 0.247);
    }
  
    #viewAll {
        
    }
    #viewAll p {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: narrow; 
        font-size: .60em;
        color: rgba(245, 245, 245, 0.644);
        align-items: center;
        font-style: normal;
    }
    #container {
        display: grid;
        grid-template-columns: 1fr
    }
    #container h1 {
        font-family: 'Julius Sans One', sans-serif;
        text-transform: uppercase;
        
    }
    h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.5em;
        padding: 10px;
    }

    span {
        border-bottom: 2px dotted;
    }
  
    
    #left {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 13px;
        line-height: 25px;
        background-color: whitesmoke;
        color: rgb(58, 57, 57);
        font-style: lighter;
    }
    
    #bottom {
        height: 50px;
        background-color: violet;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left {
        padding: 10px, 5px;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        margin: 20px;
    }
}


/* @media only screen and (max-width: 420px){
    .vanish{
        display: none;
    }
}
@media only screen and (min-width: 700px){
    #container {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 3 / 4;
        grid-row: 1 / span 3;
        height: 100%;
        grid-row: 2 / 5;
    }
    #right {
        grid-column: 1 / 3
    }
    #left {
        grid-column: 1 / 3;
    }
} */