body {
    margin: 0;
    /* display: grid; */

}
@font-face {
    font-family: symbolFont;
    src: url(./resources/verdemoderna.woff);
  }
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i');
h2 {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}
h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    line-height: 1;
    padding: 0px 30px 0px 30px;
    margin-bottom: 0;
}
p {
    font-family: 'Libre Baskerville', serif;
    margin-left: 35px;
    margin-bottom: 0;
}
/* span {
    border-bottom: 2px dotted;
} */
u {
    text-decoration: none;
    border-bottom: 2px dotted;
}
span {
    color: #0d8ba1;
}
@media (min-width: 320px){
   
    @font-face {
        font-family: symbolFont;
        src: url(verdemoderna.woff);
      }
    #title {
        font-display: center;
    }
    #header {
        position: relative;
        font-size: 1em;
        height: 250px;
        background-image: url("resources/contours.png"), url("resources/gridlines-opaque.png"),  url("resources/huntington.jpg");
        background-repeat: repeat, repeat, no-repeat;
        background-size: 100px 100px, 100px 100px, cover;
        background-position: 10%, 60%, cover;
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header-text{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .header-text h2 {
        padding: 20px; 
     }  
     .header-text p {
        margin: 0
    }
    #header h6 {
        font-style: italic;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.568);
        margin: 0;
        padding: 0;
    }
    #weird-line-header {
        height: 10px;
        background-color: rgba(1, 59, 55, 0.822);
        z-index: 5;
    }
    #swirlImage img {
        margin-top: 20px;
        height: 50px;
        width: 50px;
        opacity: .6;
    }
    #header-footer {
        text-align: center;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.384);
    }
    #header-footer p {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: narrow; 
        font-size: 1em;
        color: rgba(245, 245, 245, 0.87);
        font-style: normal;
        margin: 0;
    }
    .carrot {
        font-size: 2.5em;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.596);
        border-bottom: none;
        font-family: symbolFont;
    }
    .segment {
        font-size: 1em;
        font-weight: lighter;
        line-height: 2; 
    }
    .segment p {
      
        padding-right: 30px;
    }
    #intro {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: .85em;
        line-height: 2;
        background-color: white;
        color: rgb(92, 90, 90);
        font-style: lighter;    
    }
    #intro h3 {
        font-family: 'Julius Sans One', sans-serif;
    }
    #intro p {
        font-family: 'Libre Baskerville', serif;
    }
    #participation {
        color: rgb(61, 61, 61);
        background-image: url("resources/gridlines.png"), url("resources/contours.png"), url("resources/bamboo.png");
        background-repeat: repeat, no-repeat;
        background-size: 100px 100px, cover;
        background-color: rgba(138,188,159,0.5);
        padding-top: 20px;
        background-attachment: fixed;
    }
    #participation h3 {
        font-size: 1.25em;
    }
    #participation p {
        font-size: .855em;
        font-weight: lighter;
        line-height: 2;
    }
    #requirements {
        font-size: 0.9em;
        color: rgb(32, 32, 32);
        padding-top: 20px;
    }
    #requirements p {
        font-size: .9em;
    }
    .benefitsP {
        padding-bottom: 30px;
    }
    #credits {
        background-image: url("resources/contours.png"), url("resources/gridlines.png"), url("resources/koi.jpg");
        background-size: 100px 100px cover;
        color: rgba(255, 255, 255, 0.5);
        height: 120px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #credits h4 {
        font-style: italic;
        font-size: 1.1em;
        font-weight: lighter;
        line-height: 1.75;
        text-align: center;
        padding: 20px;
    }
    #credits span {
        font-style: normal;
        font-style: bold;
        font-style: default;
        color: white;
        border-bottom: none;
    }
   
    #weird-symbols {
        height: 80px;
        background-color: rgb(17, 66, 66); 
        background-color: rgb(19, 67, 71);
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #div-in-a-div {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 50px 0px 50px;
    }
    #weird-symbols span {
        font-family: symbolFont;
        border-bottom: none;
        text-align: center;
        color: rgba(245, 245, 245, 0.589);
        font-size: 2em;
        text-align: center;
        font-weight: lighter;
    }
    #variations {
        background-color: rgba(0, 128, 43, 0.103);
        text-indent: 20px;
        color: #607476;
    }
    #variations h3 {
        font-size: 1em;
        border-top: 1px solid rgba(128, 128, 128, 0.212);
        margin: 0;
        padding-top: 15px;
        padding-left: 0;
    }
    #variations p {
        /* /* text-indent: 0; */
        margin: 0;
        /* color: rgb(1, 71, 60); */
        color: #616857;
        font-size: .8em;
        display: inline;
        padding: 15px;
    }
    #variations p1 {
        font-style: italic;
        display: inline;
        text-indent: 55px;
        padding-left: 20px;
        color: #6168578c;
    }
    #variations span {
        margin-left: 15px;
    }
    .variation {
        padding-bottom: 15px;
    }
    #footer {
        background-image: url("resources/bamboo.png");
        background-color: rgba(0, 128, 43, 0.24);
        color: rgb(1, 71, 60);
        font-family: 'Julius Sans One', sans-serif;
    }
    #footer p {
        font-family: 'Julius Sans One', sans-serif;
        border-top: 1px solid rgb(161, 161, 161);
        margin: 0;
        line-height: 3; 
        text-indent: 20px;
    }

    
  
   #exampleFiles {
       display: none;
   }

   


}
    
   
  
    



 @media only screen and (min-width: 500px){ 
    /* #swirlImage {
        display: none;
    }
    #header h2::before {
        content:  url("./resources/enso.svg");
       
    } */
    #variations {
        display: grid;
        grid-template-columns: 50% 50%;
    }
   .header-text{
       flex-direction: row;
       font-size: 1em;
   }
  #header img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    opacity: .6;
  }
   .header-text h2 {
       font-size: 2.5em;
       font-weight: lighter;
       margin-top: 35px;
   }
   .header-text h6 {
        text-align: center;
   }

    
} 
@media only screen and (min-width: 1100px){
   body{
        display: grid;
        grid-template-columns: 2fr 1fr;
   } 
}