body {
    margin: 0;
    display: grid;
}

@media (max-width: 600px){
    
    #title {
        font-display: center;
        /* space-above: 1px; */
    }
    #div1 {
        border-top: 10px solid rgb(2, 63, 58);
        display: grid;
        grid-template-rows: 10px auto 70px;
        font-size: 20px;
        background-image: url("resources/gridlines-opaque.png"), url("resources/contours.png"), url("resources/huntington.jpg");
        background-repeat: repeat, repeat, no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        height: 250px;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #swirlImage img {
        padding-top: 0px;
        padding-bottom: 05px;
        height: 50px;
        width: 50px;
        grid-row: 1;
    }
    h2 {
        /* justify-content: center; */
        /* position: absolute; */
        top: 100px;
        /* grid-row: 1; */
        font-size: 1.13em;
        font-family: 'Julius Sans One', sans-serif;
    }
    h6 {
        color: rgba(255, 255, 255, 0.534);
        grid-row: 2;
        width: 100%;
        height: 60px;
        display: flex;
        position: absolute;
        top: 130px;
        justify-content: center;
        font-style: italic;
    }
    span {
        border-bottom: 2px dotted;
    }
    #div2 {
        color: rgba(245, 245, 245, 0.541);
        font-size: 1.1em;
        grid-row: 3;
        width: 100vw;
        height: 70px;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        background-color: rgba(255, 255, 255, 0.247);
    }
  
   #exampleFiles {
       display: none;
   }
    #viewAll p {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: narrow; 
        font-size: .60em;
        color: rgba(245, 245, 245, 0.644);
        align-items: center;
        font-style: normal;
        margin: 0;
    }
    #container {
        display: grid;
        grid-template-columns: 1fr
    }
    #container h1 {
        font-family: 'Julius Sans One', sans-serif;
        text-transform: uppercase;
        
    }
    h3 {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.5em;
        padding: 05px;
    }
    #div3 {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 13px;
        line-height: 25px;
        background-color: whitesmoke;
        color: rgb(58, 57, 57);
        font-style: lighter;
    }
    #bottom {
        height: 20px;
        background-color: violet;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left {
        padding: 10px, 5px;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        margin: 20px;
    }
    #div4 > h5 {
        color: white;
    }
    #div5 {
        background-image: url("resources/bamboo.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #div6 {
        color: white;
    }

    @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i');
}
    
   
  
    



/* @media only screen and (min-width: 401px){
    .vanish{
        display: none;
    }
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    #div1 {
        grid-column: 1 / 3;
        grid-column: 1 / span 2;

@media only screen and (min-width: 700px){
    #container {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 3 / 4;
        grid-row: 1 / span 3;
        height: 100%;
        grid-row: 2 / 5;
    }
    #right {
        grid-column: 1 / 3
    }
    #left {
        grid-column: 1 / 3;
    }
} */