h1 {
    font-family: 'Milonga', cursive;
    color: purple;
    background-color: lavenderblush;
    font-size: 3em;
    text-align: center;

    
}
img {
    display: inline-block;
    height: 200pt;
    width: 200pt;

}

font-family: 'Lobster Two', cursive;
font-family: 'Playball', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Arima Madurai', cursive;
font-family: 'Milonga', cursive;
font-family: 'Flamenco', cursive;