@media (min-width: 320px) and (max-width: 568px) {
    topnav {
        color: rgb(78, 1, 78);
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
    }
    li {
        display: inline; 
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
      } 
a {
    color: rgb(78, 1, 78);
}
body {
    font-family: 'Domine', serif;
    background-color: #2d1a06;
    color: rgb(94, 33, 86);
    text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
    font-size: 2em;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
}

.container {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
    padding-left: 65px;
    padding-bottom: 180px;
    border: 25px solid beige;

  
#top-center {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(-50%, -50%);
}
#bottom-center {
    position: absolute;
    bottom: 40%;
    right: 50%;
    transform: translate(-50%, -50%);
}

}
h2 {

}
a {
    color: rgb(78, 1, 78);
}
p {
    color: rgb(94, 33, 86);;
    font-size: 1em;
    text-align: center;
    text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
}
#browniePic {
    height: 400px;
    width: 400px;
}
#cupcakePic {
    height: 350px;
    width: 500px;
}
#cookiePic {
    height: 
}
#donutPic {
    height: 400px;
    width: 550px;
}
#bakedGoodsPics {
    display: flex;
    display: inline-block;
}
#footer {
    display: flex;
    display: inline-block;
    font-size: 0.25em;
}
}

@media (min-width: 569px) and (max-width: 1024px) {
    a {
    color: rgb(78, 1, 78);;
}
    li {
        display: inline;
      }
    body {
        font-family: 'Domine', serif;
        background-color: #2d1a06;
        color: rgb(94, 33, 86);
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
        font-size: 3em;
        text-align: center;
    }
    
    h1 {
        font-size: 3em;
        text-align: center;
    }
    
    .container {
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 55px;
        padding-left: 65px;
        padding-bottom: 140px;
        border: 25px solid beige;
    
      
    #top-center {
        position: absolute;
        top: 40%;
        right: 50%;
    }
    #bottom-center {
        position: absolute;
        bottom: 40%;
        right: 50%;
    }
    }

  
    p {
        color: rgb(78, 1, 78);
        text-align: center;
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
    }
    #bakedGoodsPics {
        display: flex;
        display: inline-block;
    }
    #browniePic {
        height: 400px;
        width: 400px;
    }
    #cupcakePic {
        height: 350px;
        width: 500px;
    }
    #cookiePic {
        height: 
    }
    #donutPic {
        height: 400px;
        width: 550px;
    }
    #footer {
        display: flex;
        display: inline-block;
        font-size: 0.5em;
    }
    }
@media (min-width: 1025px){

    body {
        font-family: 'Domine', serif;
        background-color: #2d1a06;
        color: rgb(94, 33, 86);
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
        font-size: 3em;
        text-align: center;
    }
    li {
        display: inline;
        }
    
    h1 {
        font-size: 4em;
        text-align: center;
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
    }
    
    .container {
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 55px;
        padding-left: 65px;
        padding-bottom: 140px;
        border: 25px solid beige;
    
      
    #top-center {
        position: absolute;
        top: 40%;
        right: 50%;
    }
    #bottom-center {
        position: absolute;
        bottom: 40%;
        right: 50%;
    }
    
    }
    h2 {
    
    }
  
    p1 {
        color: #2d1a06;
        font-size: 3em;
        text-align: center;
        text-shadow: -1px 0 #D2B48C, 0 1px #D2B48C, 1px 0 #D2B48C, 0 -1px #D2B48C;
    }
    #bakedGoodsPics {
        display: flex;
        display: inline-block;
    }
    #browniePic {
        height: 400px;
        width: 400px;
    }
    #cupcakePic {
        height: 350px;
        width: 500px;
    }
    #cookiePic {
        height: 
    }
    #donutPic {
        height: 400px;
        width: 550px;
    }
    footer {
        /* display: flex; */
        /* display: inline-block; */
        font-size: 0.75em;
        justify-content: space-around;
    }
    