* {
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 40px;
}
.form {
    border: solid black 1.5px;
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}
.form > input {
    border: solid black 1.5px;
    margin: 10px;
    
}
textarea {
    grid-column: 1/3;
    border: solid black 1.5px;
    margin: 10px;

}
button {
    border: solid black 1.5px;
    border-radius: 5px;
    grid-column: 1/3;
    display: flex;
    justify-self: center;
}
.wrapper {
    
}
.badge {
    margin-top: 15px;
    padding: 2-px;
    border: solid black 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-kerning: normal;
    
    
}
.columns {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 30px 0px 30px;
    line-height: 40px;
}
.bigWholeBadge > .header {
    background-color: rgb(94, 93, 93);
    color: white;
    line-height: 30px;
    grid-column: 1/3;
    width: 100%;
    padding-left: 10px;
    letter-spacing: 1.5px;
    font-weight: narrow;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    
}
.infoField {
    border: solid black 2px;
    justify-self: center;
    width: 90%;
    height: 120px;
    margin: 0px 40px 15px 40px;
    padding: 10px;
}
.badge > div:nth-child(1n) div:nth-child(1){
    background-color: blue;
}
.badge > div:nth-child(2n) div:nth-child(1){
    background-color: purple;
}
.badge > div:nth-child(3n) div:nth-child(1){
    background-color: aquamarine;
}
.badge > div:nth-child(4n) div:nth-child(1){
    background-color: magenta;
}
.badge > div:nth-child(5n) div:nth-child(1){
    background-color: rgb(252, 252, 165);
}
.badge > div:nth-child(6n) div:nth-child(1){
    background-color: seagreen;
}
