body {
    background-color: #fcf8da;
}
#divA {
    background-color: rgb(248, 194, 177);
    display: block;
    text-align: center;
}
#divS {
    background-color: rgb(114, 241, 241);
    display: block;
    text-align: center;
}
#divM {
    background-color: rgb(255, 182, 216);
    display: block;
    text-align: center;
}
#divD {
    background-color: rgb(191, 247, 223);
    display: block;
    text-align: center;
}
button {
    background-color: rgb(229, 176, 250);
    display: block;
    margin: 10px auto;

}
#result-container {
    margin-top: 20px;
    margin-left: 15px;

}